@keyframes wrapper {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-wrapper {
  padding: 0 120px;
  animation-name: wrapper;
  animation-duration: 400ms;
}

.login {
  color: #0A0A0A;
}

.title h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

.title span {
  font-size: 16px;
}

.field {
  margin-bottom: 30px;
  width: 100%;
  font-weight: 500;
}


.field .field-name {
  font-size: 17px;
  display: block;
  margin-bottom: 8px;
}

.field .control {
  border-bottom: 1px #EAEAEA solid;
  width: 100%;
}

.field .control input{
  background: transparent;
  border: 0;
  width: 100%;
  margin-bottom: 3px;
}

.field .control input:focus {
  outline: 0;
}

.field .control input::placeholder {
  color: #BDBDBD;
}


.auth-btn {
  width: 100%;
  padding: 12px 35px;
  color: white;
  background: #575EE6;
  border: 0;
  font-weight: 600;
  font-size: 16px;
}

.auth-btn:hover {
}

.auth-btn:focus {
  outline: 0;
}

.pass-link {
  color: #575EE6;
  text-decoration: none;
  font-weight: 500;
}

.change-auth {
  margin-top: 30px;
}

.change-link {
  color: #575EE6;
  margin-left: 3px;
  font-weight: 500;
  text-decoration: none;
}

.change-link:hover,
.change-link:active {
  text-decoration: underline;
}

.remember {
  color: #999999;
}

.form-check-input {
  width: 16px;
  height: 16px;
  margin-top: 0;
}

.form-check-input:checked {
  background-color: #575EE6;
  border-color: #575EE6;
}

.form-check-input:focus,
.form-check-input:active {
  border-color: #575EE6;
}


.auth-side {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0 120px;
  position: relative;
  background-color: #575EE6;
}

@keyframes bg-view {
  from {
    opacity: 0.7;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.bg-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation-name: bg-view;
  animation-duration: 400ms;
  background-color: #F6F8FA;
}


@keyframes side-text {
  from {
    opacity: 0;
    transform: translateX(-70px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.auth-side h2 {
  position: relative;
  color: #5B62E7;
  font-family: 'Playfair Display', serif;
  animation-name: side-text;
  animation-duration: 400ms;
}
