.wrapper {
  background: #575EE6;
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


.password-sec {
  color: white;
}

.password-sec h5 {
  margin-bottom: 25px;
  width: 540px;
}

.password-sec .control {
  display: flex;
  align-items: center;
  margin: 9px 0;
}

.password-sec .control .control-title {
  width: 200px;
}

.password-sec .control input {
  width: 400px;
  background: #6066E7;
  border: #9196EF 1px solid;
  color: white;
  font-size: 15px;
  padding: 4px 13px;
}


.btns-sec {
  margin-top: 40px;
}

.btns-sec button {
  padding: 5px 50px;
  border: 0;
}

.btns-sec button:focus {
  outline: 0;
}

.btns-sec .cancel-btn{
  background: transparent;
  color: white;
}

.btns-sec .save-btn {
  background: white;
  color: #575EE6;
}
