<div class="wrapper">
  <div class="password-sec">
    <h5>CHANGE PASSWORD</h5>
    <form (ngSubmit)="savePassword()" [formGroup]="passwordFormGroup">
      <div class="control">
        <span class="control-title">Old Password</span>
        <input formControlName="oldPassword" type="password">
      </div>
      <div class="control">
        <span class="control-title">New Password</span>
        <input formControlName="newPassword" type="password">
      </div>
      <div class="control">
        <span class="control-title">Confirm New Password</span>
        <input formControlName="newPasswordConfirmation" type="password">
      </div>
    </form>
  </div>

  <div (click)="savePassword()" class="btns-sec">
    <button routerLink="/chat" class="cancel-btn">Cancel</button>
    <button class="save-btn">Save</button>
  </div>

</div>
