<div (click)="onCancel()" class="dialog">
  <div (click)="$event.stopPropagation()" class="dialog-wrapper">

    <div class="search-sec">
      <div class="search-control">
        <input (keyup)="searchForPeople($event)" type="text" placeholder="Search for people by email... ">
        <span class="search-icon">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;" xml:space="preserve">
<g>
	<g>
		<path d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667
			S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6
			c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z
			 M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        </span>
      </div>
    </div>
    <div class="people-sec">
      <div *ngFor="let personStatus of peopleStatus">
        <div class="person">
          <div>
            <div class="person-img-div">
              <img *ngIf="personStatus.person.photo == null" src="assets/img/profile-1.jpg" alt=""/>
              <img *ngIf="personStatus.person.photo != null" src="http://localhost:8080/api/images/{{personStatus.person.id}}.png"/>             </div>
          </div>
          <div class="person-info">
            <span class="person-name">{{personStatus.person.firstName}} {{personStatus.person.lastName}}</span>
            <span class="person-email">{{personStatus.person.email}}</span>
          </div>
          <div>
            <button *ngIf="personStatus.status !== status.PENDING && personStatus.status !== status.ACCEPTED && personStatus.status !== status.SENT_TO_YOU"
                    (click)="inviteFriend(personStatus.person.id)" class="invitation-btn">Invite</button>
            <button *ngIf="personStatus.status === status.SENT_TO_YOU"
                    (click)="acceptInvitation(personStatus.person.id)" class="invitation-btn">ACCEPT</button>

            <button *ngIf="personStatus.status === status.PENDING" class="invitation-btn">Pending...</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

