.chat-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}


.friends-section {
  height: 100%;
  width: 370px;
  border-right: 1px solid #ECECEC;
  overflow-y: auto;
}

.friends-section::-webkit-scrollbar {
  width: 7px;
}

.friends-section::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.friends-section::-webkit-scrollbar-thumb {
  background: #b1b0b0;
  transition: 0.2s background-color;
  border-radius: 4px;
}

/* Handle on hover */
.friends-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.friends-section .search-box {
  width: 100%;
  background: #F6F8FA;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px 1.5rem;
}

.friends-section .search-box span {
  margin-right: 0.8rem;
}

.friends-section .search-box span svg {
  fill: #979898;
  width: 18px;
  height: 18px;
}


.friends-section .search-box .search-input {
  background: transparent;
  border: 0;
  width: 100%;
}

.friends-section .search-box .search-input:focus {
  outline: 0;
}


.friends-section .search-box .search-input::placeholder {
  color: #979898;
  font-size: 14px;
}

.friend {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s all;
}


.friend.active,
.friend:hover {
  background: #F6F8FA;
}


.friend .friend-img-part {
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 11px;
}

.friend .friend-img-part img {
  width: 100%;
}



.friend .friend-name {
  font-weight: bold;
}



.friend .friend-last-message-date {
  color: #949494;
  font-size: 14px;
}

.friend .friend-last-message {
  color: #707070;
}


.friend .unseen-n {
  width: 20px;
  height: 20px;
  background: #575EE6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13px;
}


.messages-section {
  width: calc(100vw - 370px);
}


.empty-chat {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.empty-chat .illustration svg{
  width: 250px;
  height: 300px;
}


.empty-chat button {
  background: transparent;
  border: 1px solid #B0B4F3;
  padding: 7px 28px;
  color: #575EE6;
  transition: all 0.2s;
}

.empty-chat button:hover {
  background: #575EE6;
  color: white;
}

.empty-chat button:focus {
  outline: 0;
}

@media only screen and (max-width: 768px){
  .friends-section {
    width: 100%;
  }

  .messages-section {
    width: 100%;
  }
}

