.friend-part {
  padding: 13px 1.5rem;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  width: 100%;
}

.friend-part .friend-part-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.friend-part .friend-part-img img {
  width: 100%;
}

.friend-part-data {
  line-height: 1;
}

.friend-part-data .name {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.friend-part-data .status {
  color: #7E7E7E;
}

.messages-part {
  width: 100%;
  height: calc(100vh - 132px);
  position: relative;
}

.messages-part .messages-form {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #ECECEC;
}

.messages-part .messages-form form {
  height: 100%;
  width: 100%;
}

.messages-part .messages-form .messages-control {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

.messages-part .messages-form .messages-control input {
  width: 100%;
  border: 0;
  margin-left: 10px;
  color: #1b1e21;
}

.messages-part .messages-form .messages-control .send-icon {
  margin-right: 20px;
}

.messages-part .messages-form .messages-control .send-icon svg {
  fill: #575EE6;
  width: 26px;
  height: 26px;
}

.messages {
  height: calc(100% - 50px);
  overflow: auto;
  width: 100%;
}

.message {
  padding: 2px 24px;
  display: flex;
  align-items: center;
}

.message.friend {
  justify-content: flex-start;
}

.message .text-sec {
  min-height: 35px;
  max-width: 60%;
  display: flex;
  align-items: center;
  padding: 6px 15px;
  border-radius: 18px;
}

.message .text-sec p {
  margin: 0;
}

.message.friend .text-sec {
  margin-left: 15px;
  background: #F6F8FA;
  color: #1b1e21;
}

.message.me .text-sec {
  margin-right: 15px;
  background: #575EE6;
  color: white;
}


.message .img-sec {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.message .img-sec img {
  width: 35px;
  height: 35px;
}

.message.me {
  justify-content: flex-end;
}

.spinner-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}


@media only screen and (max-width: 768px){

  .friend-part {
    padding: 13px 15px;
  }

  .message {
    padding: 2px 15px;
  }

  .message.me .text-sec {
    margin-right: 10px;
  }

  .message.friend .text-sec {
    margin-left: 10px;
  }
}
