/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
body {
  font-family: 'Roboto', sans-serif!important;
  height: 100vh;
  overflow-x: hidden;
}

*:focus {
  outline: 0;
}

@font-face {
  font-family: 'Vegan Style Personal Use Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Vegan Style Personal Use Regular'), url('assets/fonts/Vegan Style Personal Use.woff') format('woff');
}
